<!DOCTYPE html>
<html>
	<head>
		<title> Game Base </title>
		<link rel="stylesheet" type="text/css" href="node_modules/angular-material/angular-material.css">
		<link href="node_modules/mdi/css/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css" >
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
		<script
  		src="https://code.jquery.com/jquery-3.1.1.min.js"
  		integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  		crossorigin="anonymous"></script>
		<link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
		<link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
		<script
 		src="https://code.jquery.com/jquery-3.1.1.min.js"
  		integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  		crossorigin="anonymous"></script>
		<script src="semantic/dist/semantic.min.js"></script>

	</head>

	<body ng-app="ngGamebase" ng-controller="baseCtrl">

	<md-card flex="80" class="base" style="margin: 10px auto; background: #f5f5f5;" >
		<md-card-content>
			
			<div class="md-toolbar-tools">
				<p style="margin-right: 60px; background: #f5f5f5;"><strong>Popular by genres</strong></p>
 				
 				<md-select ng-model="genre">
 					<md-option ng-repeat="genre in genres" value="{{ genre }}">{{ genre }}</md-option>
 				</md-select>
 				
            </div>
 			
 			<md-toolbar>
 			<md-content class="md-padding" layout="row" layout-wrap style="padding-top: 35px; background: #f5f5f5;">
 			
 				<md-slider-container  flex="35">
      				<span>Rating</span>
      				<md-slider flex class="md-primary" flex min="88" max="92" ng-model="gamesRating" aria-label="rating" id="rating">
     				 </md-slider>
      				<md-input-container>
        				<input  flex type="number" ng-model="gamesRating" aria-label="rating" id="rating">
     			 	</md-input-container>
     			</md-slider-container>
     			 
     			 <md-input-container flex="30" class="search">
     			 	<md-icon class="mdi mdi-magnify"></md-icon>
        			<input ng-model="search.name">
      			</md-input-container>

      			 <md-input-container flex="10" class="search">
     			 	<md-button class="md-warn" ng-click="gamesRating =''; searchGames=''; genre=''"> Clear </md-button>
      			</md-input-container>
     		
     		</md-content>
    		</md-toolbar>

 			<md-content class="md-padding" layout="row" layout-wrap style="background: #f5f5f5;">
 				<md-card ng-repeat="game in games | filter: search.name | filter : genre | filter: gamesRating" flex="45" style="margin: 50px 20px;">
 					<md-card-content>
 						<div class="md-padding" layout="row" layout-wrap>
 							<div flex="45" >
 								<img ng-src="{{ game.image }}" style="margin-top: -52px; box-shadow: 0px 5px 20px rgba(158,158,158,0.5);">
 							</div>
 							<div class="ui mini star rating"></div>
 							<div class="classified-info" flex=45" class="md-padding">
 								<h2 class="md-title"  style="font-size: 32px;">{{ game.name }}</h2>
 								<h4 style="font-size: 16px; font-weight: 100;"> by {{ game.developer}} </h4>
 							</div>
 						</div>
 						<div class="classified-description">
 							<p style="font-size: 14px;"> {{ game.description }} </p>
 						</div>
 					</md-card-content>
				</md-card>
			
			</md-content>
		</md-card-content>
 	</md-card>
 		

	 <script src="node_modules/angular/angular.js"></script>
	 <script src="scripts/app.js"></script>
	 <script src="components/classified.ctr.js"></script>
	 <script src="components/classifieds.fac.js"></script>
	 <script src="node_modules/angular-animate/angular-animate.js"></script>
	 <script src="node_modules/angular-aria/angular-aria.js"></script>
	 <script src="node_modules/angular-material/angular-material.js"></script>
  	 <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.3/lodash.js"></script>
  	 
</html> 