<!DOCTYPE html>
<html>
	<head>
		<title> Game Base </title>
		<link rel="stylesheet" type="text/css" href="node_modules/angular-material/angular-material.css">
		<link href="node_modules/mdi/css/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css" >
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

	</head>

	<body ng-app="ngGamebase" ng-controller="baseCtrl">

	<md-card flex="95" class="base" style="margin: 10px auto;" >
		<md-card-content>
			
			<div class="md-toolbar-tools">
				<p style="margin-right: 60px;"><strong>Popular by genres</strong></p>
 				
 				<md-select ng-model="genre">
 					<md-option ng-repeat="genre in genres" value="{{ genre }}">{{ genre }}</md-option>
 				</md-select>
 				
            </div>
 			
 			<md-toolbar>
 			<md-content class="md-padding" layout="row" layout-wrap style="padding-top: 35px;">
 			
 				<md-slider-container  flex="35">
      				<span>Rating</span>
      				<md-slider flex class="md-primary" flex min="88" max="92" ng-model="gamesRating" aria-label="rating" id="rating">
     				 </md-slider>
      				<md-input-container>
        				<input  flex type="number" ng-model="gamesRating" aria-label="rating" id="rating">
     			 	</md-input-container>
     			</md-slider-container>
     			 
     			 <md-input-container flex="30" class="search">
     			 	<md-icon class="mdi mdi-magnify"></md-icon>
        			<input ng-model="searchGames">
      			</md-input-container>

      			 <md-input-container flex="10" class="search">
     			 	<md-button class="md-warn" ng-click="gamesRating =''; searchGames=''; genre=''"> Clear </md-button>
      			</md-input-container>
     		
     		</md-content>
    		</md-toolbar>

 			<md-content class="md-padding" layout="row" layout-wrap>
 				<md-card ng-repeat="game in games | filter: searchGames | filter: gamesRating | filter : genre" flex="45">
 					<md-card-content>
 						<div class="md-padding" layout="row" layout-wrap>
 							<div flex="35">
 								<img ng-src="{{ game.image }}">
 							</div>
 							<div class="classified-info" flex="40">
 								<h2 class="md-title">{{ game.name }}</h2>
 								<h4> by {{ game.developer}} </h4>
 							</div>
 						</div>
 						<div class="classified-description">
 							<p> {{ game.description }} </p>
 						</div>
 					</md-card-content>
				</md-card>
			
			</md-content>
		</md-card-content>
 	</md-card>
 		

	 <script src="node_modules/angular/angular.js"></script>
	 <script src="scripts/app.js"></script>
	 <script src="components/classified.ctr.js"></script>
	 <script src="components/classifieds.fac.js"></script>
	 <script src="node_modules/angular-animate/angular-animate.js"></script>
	 <script src="node_modules/angular-aria/angular-aria.js"></script>
	 <script src="node_modules/angular-material/angular-material.js"></script>
  	 <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.3/lodash.js"></script>
</html> 